.xlabel {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    fill: #000000;
}

.ylabel {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    fill: #000000;
}

div.tooltip {
    position: absolute;
    display: inline-block;
    pointer-events: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    z-index: 10;
    position: absolute;
    border: 1px solid #6E6E6E;
    border-radius: 3px;
    color: #000000;
    font-family: sans-serif;
    background-color: white;
}

p {
    
    font-family: sans-serif;
    font-size: 15px;
}